
body {
  font-family: "Oxygen";
  background-size: 100% auto;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}

label {
  min-height: 2em;
}

label input {
  float: right;
  margin-bottom: 1em;
}

.message .body {
    font-size: 2em;
    margin-bottom:0.3em;
}

.message em {
    float: right;
}

.full-album-listing {
    float: left; 
    margin: 1.5em 25.5em 1.5em 1.5em;
    width: 100%;

}

.full-album-listing .genre-link {
  margin-right:1.3em;
}

.full-album-listing h1 {
    font-size: 1.5em;
    line-height: 1em;
    clear: none;
    color: black;
}

.full-album-listing p {
  clear: none;
  line-height: 1em;
}
.full-album-listing img {
    float: left;
    margin: 0em 1em 1em 0em;
}

.full-album-listing table {
    width: 90%;
}

.full-album-listing tr td {
    width: 80%;
}

.full-album-listing tr td:first-child {
    width: 10%;
    padding-right: 1em;
    text-align: right;
}

.full-album-listing tr td:last-child {
    width: 10%;
    padding-right: 1em;
    /*text-align: right;*/
}

.navbar {
  /*background: #ffff00; *//* Old browsers */
  /*background: -moz-linear-gradient(top, #ffff00 0%, #febf01 100%); *//* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(100%,#febf01)); *//* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top, #ffff00 0%,#febf01 100%); *//* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top, #ffff00 0%,#febf01 100%); *//* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, #ffff00 0%,#febf01 100%); *//* IE10+ */
  /*background: linear-gradient(to bottom, #ffff00 0%,#febf01 100%); *//* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#febf01',GradientType=0 );*/ /* IE6-9 */
}

.navbar .brand {
  text-shadow: 7px 7px 15px rgba(0,0,0,0.5);
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 0.2em;
  color: white;
}

.navbar .form-search {
  margin: 0.3em 0.3em 0.3em 0.3em;
}

.navbar .form-search input {
  /*box-shadow: 7px 7px 15px rgba(0,0,0,0.5);*/
  border-radius: 10em;
  width: 20em;
  /*height:auto;*/
  /*font-size: 1.25em;*/
}

.navbar button {
  /*box-shadow: 7px 7px 15px rgba(0,0,0,0.5);*/
}

@media screen and (max-width: 767px) {
  .navbar .pull-right {
    float:left !important;
  }
}

.space-div {
  /*.span2;*/
}

.main-body {
  /*.span7;*/
}

.rec {
  /*.span2;*/
  padding:1.5em;
}

@media (min-width: 767px) {
  .inner-row-div {
    margin-top:10em;
  }
}

.main-body, .rec {
  background-color: rgba(255,255,255,0.8);
  padding: 1.5em;
}

.main-body hr {
  border-top: 1px solid #222;
  width: 90%;
}

.rec,.full-album-listing * {
  word-wrap:break-word;
}

.search-button {
  background: none;
  border: none;
}

.tags {
  clear:both;
  margin-bottom:0.5em;
}

.tags a {
  display: inline-block;
  height: 1.5em;
  width: auto;
  padding: 0.2em 1em;
  background-color: rgba(255,255,255,0.9);
}

/* login dropdown styling----------*/

.login-nav {
margin-top: 0.5em;
margin-right: 0.3em;
margin-left: 0.3em;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #eee;
  border-bottom: 1px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;    
}

nav li {
  float: left;          
}

nav #login {
  border-right: 1px solid #ddd;
  -moz-box-shadow: 1px 0 0 #fff;
  -webkit-box-shadow: 1px 0 0 #fff;
  box-shadow: 1px 0 0 #fff;  
}

nav #login-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff; 
}

nav #signup a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: #fff;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}



nav li #login-content {
  right: 0;
  width: 250px;  
}

nav li .profile-content#login-content {
  right: 0;
  width: 110px;

}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {    
  background-color: #3eaef8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d99f6), to(#57b8f9));
  background-image: -webkit-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -moz-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -ms-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -o-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: linear-gradient(top, #0d99f6, #57b8f9);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #profile-button {    
  background-color: #3eaef8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d99f6), to(#57b8f9));
  background-image: -webkit-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -moz-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -ms-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -o-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: linear-gradient(top, #0d99f6, #57b8f9);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 80%;
  margin-left:10%;

  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}





#login #submit:hover,
#login #submit:focus {    
  background-color: #3eaef8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d99f6), to(#57b8f9));
  background-image: -webkit-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -moz-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -ms-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: -o-linear-gradient(top, #0d99f6, #57b8f9);
  background-image: linear-gradient(top, #0d99f6, #57b8f9);
} 

#login #submit:active {   
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;

}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  display: inline-block;

  top: 2px;
  right: 2px;
}

