
body {
  font-family: "Oxygen";
  background-size: 100% auto;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}

label {
  min-height: 2em;
}

label input {
  float: right;
  margin-bottom: 1em;
}

.message .body {
    font-size: 2em;
    margin-bottom:0.3em;
}

.message em {
    float: right;
}

.full-album-listing {
    float: left; 
    margin: 1.5em;
    width: 100%;
}

.full-album-listing h1 {
    font-size: 1.5em;
    line-height: 1em;
    clear: none;
}

.full-album-listing p {
  clear: none;
  line-height: 1em;
}
.full-album-listing img {
    float: left;
    margin: 0em 1em 1em 0em;
}

.full-album-listing table {
    width: 100%;
}

.full-album-listing tr td {
    width: 40%;
}

.full-album-listing tr td:first-child {
    width: 5%;
}

.full-album-listing tr td:last-child {
    width: 10%;
}

.navbar {
  /*background: #ffff00; *//* Old browsers */
  /*background: -moz-linear-gradient(top, #ffff00 0%, #febf01 100%); *//* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(100%,#febf01)); *//* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top, #ffff00 0%,#febf01 100%); *//* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top, #ffff00 0%,#febf01 100%); *//* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, #ffff00 0%,#febf01 100%); *//* IE10+ */
  /*background: linear-gradient(to bottom, #ffff00 0%,#febf01 100%); *//* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#febf01',GradientType=0 );*/ /* IE6-9 */
}

.navbar .brand {
  text-shadow: 7px 7px 15px rgba(0,0,0,0.5);
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 0.2em;
  color: white;
}

.navbar input {
  box-shadow: 7px 7px 15px rgba(0,0,0,0.5);
  margin-top: 0.7em;
  border-radius: 10em;
  width: 20em;
  /*height:auto;*/
  /*font-size: 1.25em;*/
}
.navbar button {
  box-shadow: 7px 7px 15px rgba(0,0,0,0.5);

}

@media screen and (max-width: 767px) {
  .navbar .pull-right {
    float:left !important;
  }
}

.space-div {
  /*.span2;*/
}

.main-body {
  /*.span7;*/
}

.rec {
  /*.span2;*/
  padding:1.5em;
}

@media (min-width: 767px) {
  .inner-row-div {
    margin-top:10em;
  }
}

.main-body, .rec {
  background-color: rgba(255,255,255,0.8);
  padding: 1.5em;
}

.main-body hr {
  border-top: 1px solid #222;
  width: 90%;
}

.rec,.full-album-listing * {
  word-wrap:break-word;
}

.search-button {
  background: none;
  border: none;
}

.tags {
  clear:both;
  margin-bottom:0.5em;
}
.tags a {
  display: inline-block;
  height: 1.5em;
  width: auto;
  padding: 0.2em 1em;
  background-color: rgba(255,255,255,0.9);
}
