body {
  font-family: "Oxygen";
  background: url('../img/beach-photo0.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}
label {
  min-height: 2em;
}
label input {
  float: right;
  margin-bottom: 1em;
}

.message .body {
    font-size: 2em;
    margin-bottom:0.3em;
}

.message em {
    float: right;
}

.full-album-listing {
    float: left; 
    margin: 1.5em;
    width: 100%;
}

.full-album-listing h1 {
    font-size: 3em;
    line-height: 1em;
    clear: none;
}

.full-album-listing p {
  clear: none;
  line-height: 1em;
}
.full-album-listing img {
    float: left;
    margin: 0em 1em 1em 0em;
}

.full-album-listing table {
    width: 100%;
}

.full-album-listing tr td:first-child {
    width: 80%;
    /*background-color:red;*/
}


.navbar.navbar-fixed-top div {
  background: #ffff00; /* Old browsers */
  background: -moz-linear-gradient(top, #ffff00 0%, #febf01 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff00 0%,#febf01 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff00 0%,#febf01 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff00 0%,#febf01 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffff00 0%,#febf01 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */
}


.navbar .brand {
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 1.7em;
  letter-spacing: 0.3em;
  color: white;
}

.navbar input {
  margin-top: 0.7em;
  border-radius: 10em;
}

.rec {
  padding:1.5em;
}

@media (min-width: 767px) {
  .inner-row-div {
    margin-top:10em;
  }
}

.main-body, .rec {
  background-color: rgba(255,255,255,0.8);
  padding: 1.5em;
}

.main-body hr {
  border-top: 1px solid #222;
  width: 90%;
}

.rec,.full-album-listing * {
  word-wrap:break-word;
}

